
.left-section
  border-right: 0.3px rgba(255, 255, 255, 0.1) solid

.right-section
  overflow-y: auto
  overflow-x: hidden

.list
  overflow-y: auto
  height: 15vh
  overflow-x: hidden;

.list-item
  height: 3vh
  min-height: 30px
  padding-left: 5px
  padding-right: 5px
  padding-top: 5px

.list-item > button
  text-align: left

.search-bar
  height: 5vh
  min-height: 30px
  padding-left: 5px
  padding-right: 5px
  padding-top: 2px
  padding-bottom: 20px

.header
  display: block
  text-align: center
  font-size: 40px
  padding-top: 8px
  padding-bottom: 20px
