<div class="container" style="height: 100vh; width: 100vw; position: absolute; top: 0; left: 0;">
  <div class="row" style="height: 100vh; width: 100vw;">
    <div class="col-md-3" style="height: 100vh; ">
      <div class="row" style="height: 50vh; overflow: scroll;">
        <div class="col">
          <div class="row" style="height: 5vh;">
            <input mat-input class="w-75" placeholder="Search" [(ngModel)]="searchQueryResource" />
            <button mat-button class="w-25" (click)="newResource()">new</button>
          </div>
          <div class="row w-100" *ngFor="let resource of resources" style="height: 5vh;">
            <button mat-button class="w-100" (click)="showResource(resource)">
              {{ resource.headers.name }}
            </button>
          </div>
        </div>
      </div>

      <div class="row" style="height: 50vh; overflow: scroll;">
        <div class="col">
          <div class="row" style="height: 5vh;">
            <input class="w-75" placeholder="Search" [(ngModel)]="searchQueryDataset" />
            <button mat-button class="w-25" (click)="newDataset()">new</button>
          </div>
          <div class="row w-100" *ngFor="let dataset of datasets" style="height: 5vh;">
            <button mat-button class="w-100" (click)="showDataset(dataset)">
              {{ dataset.headers.name }}
            </button>
          </div>
        </div>
      </div>


    </div>

    <div class="col-md-9" style="height: 100vh;">
      <div class="row" style="height: 10vh">
        <div class="col-md-4">
          name: <input [(ngModel)]="currentResource.headers.name">
        </div>
        <div class="col-md-4">
          type: <input [(ngModel)]="currentResource.headers.type">
        </div>
        <div class="col-md-4">
          base: <input [(ngModel)]="currentResource.headers.base">
        </div>
      </div>
      <div class="row" style="height: 10vh">
        <div class="col-md-6">
          id_resource: <input [(ngModel)]="currentResource.headers.id_resource" style="width: 20vw; ">
        </div>
        <div class="col-md-6">
          id_pattern: <input [(ngModel)]="currentResource.headers.id_pattern" style="width: 20vw; ">
        </div>
      </div>

      <div class="row" style="height: 60vh">
      </div>
    </div>


  </div>
</div>
