.main
  background: #4a138c

.left-section
  background: #311a91


.right-section
  // background: #311a91

div
  // border: solid purple 1px

.input-field
  font-family: 'Ubuntu', sans-serif;
  background: #12005e
  color: white
  border: none
  font-size: x-large
  padding-left: 13px

.label-field
  font-family: 'Ubuntu', sans-serif;
  color: white
  border: none
  font-size: large
  padding-left: 13px
  text-align: left

*
  // border: solid white 1px

.button-field
  border: none

.button-field:hover
  background: blue

.list-item
  height: 5vh
  min-height: 40px
  padding-left: 5px
  padding-right: 5px
  padding-top: 2px
  padding-top: 2px



