<div class="row">
  <input matInput [(ngModel)]="template['__idea']" placeholder="Idea" style="width: 100%" />
</div>

<div class="row">
  <div>
    <input placeholder="new Dataset" [(ngModel)]="newDataset" style="width: 150px; text-align: center;"
      (keyup.enter)="addToList(template['datasets'], newDataset); newDataset=''">
    <button (click)="addToList(template['datasets'], newDataset)">
      <mat-icon> add </mat-icon>
    </button>
  </div>
  <div *ngFor="let dataset of template.datasets">
    <input [(ngModel)]="dataset" style="width: 150px; text-align: center;" />
    <button (click)="removeFromList(template.datasets, dataset)">
      <mat-icon> cancel </mat-icon>
    </button>
  </div>
</div>

<div class="row">
  <div>
    <input placeholder="new Tag" [(ngModel)]="newTag" style="width: 150px; text-align: center;"
      (keyup.enter)="addToList(template['tags'], newTag); newTag=''">
    <button (click)="addToList(template.tags, newTag)">
      <mat-icon> add </mat-icon>
    </button>
  </div>
  <div *ngFor="let tag of template.tags">
    <input [(ngModel)]="tag" style="width: 150px; text-align: center;" />
    <button (click)="removeFromList(template.tags, tag)">
      <mat-icon> cancel </mat-icon>
    </button>
  </div>
</div>

<div class="row">
  <input style="width: 15%; text-align: center;" placeholder="new key" [(ngModel)]="newValueKey" />
  <input placeholder="new query" [(ngModel)]="newValueQuery" style="width: 80%" />
  <div style="width: 5%;">
    <button (click)="addToObject(template.values, newValueKey, newValueQuery); newValueKey=''; newValueQuery='';">
      <mat-icon> add </mat-icon>
    </button>
  </div>
</div>

<div class="row" *ngFor="let item of template.values | keyvalue">
  <input [(ngModel)]="item.key" style="width: 15%; text-align: center;" />
  <input [(ngModel)]="item.value" style="width: 80%" (keyup.enter)="removeFromObject(template.values, item.key)" />
  <div style="width: 5%;">
    <button (click)="removeFromObject(template.values, item.key)">
      <mat-icon> cancel </mat-icon>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-11">
    <div class="row">
      <input placeholder="type" [(ngModel)]="newField.type" style="width: 25%; text-align: center;" />
      <input placeholder="section" [(ngModel)]="newField.section" style="width: 25%; text-align: center;" />
      <input placeholder="format" [(ngModel)]="newField.format" style="width: 25%; text-align: center;" />
      <input placeholder="language" [(ngModel)]="newField.language" style="width: 25%; text-align: center;" />
    </div>
    <div class="row">
      <input placeholder="content" [(ngModel)]="newField.content" style="width: 100%; text-align: center"
        (keyup.enter)="addToList(fields, newField)" />
    </div>
  </div>
  <div class="col-1">
    <button (click)="addToList(fields, newField)" class="w-100 h-100">
      <mat-icon> add </mat-icon>
    </button>
  </div>
</div>

<div class="row" *ngFor="let field of fields">
  <div class="col-11">
    <div class="row">
      <input placeholder="type" [(ngModel)]="field.type" style="width: 25%; text-align: center;" />
      <input placeholder="section" [(ngModel)]="field.section" style="width: 25%; text-align: center;" />
      <input placeholder="format" [(ngModel)]="field.format" style="width: 25%; text-align: center;" />
      <input placeholder="language" [(ngModel)]="field.language" style="width: 25%; text-align: center;" />
    </div>
    <div class="row">
      <input placeholder="content" [(ngModel)]="field.content" style="width: 100%;" dir="auto" />
    </div>
  </div>
  <div class="col-1">
    <button class="w-100 h-100" (click)="removeFromList(fields, field)">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row" style="height: 75px; ">
      <button mat-button class="col-1" (click)="testTemplate(template)">
        RUN
      </button>
    </div>
    <div class="row"></div>
  </div>
</div>