// *
//   border 1px solid black

.row
  padding-top: 10px
  padding-bottom: 10px

select
  border: none
  text-align-last: center
  background: rgba(255, 255, 255, 0)
  color: white

option
  background: rgba(0, 0 ,0 , 0.4)

span
  color: rgba(255, 255, 255, 0.5)