<div class="row" style="height: 20vh; ">
  <div class="col">
    <div class="row" style="height: 6vh">
      <div class="col-3">
        <input class="w-100" [(ngModel)]="data.name" placeholder="name" />
      </div>
      <div class="col-3">
        <input class="w-100" [(ngModel)]="data.count" placeholder="count" disabled="true" />
      </div>
      <div class="col-3">
        <input class="w-100" [(ngModel)]="data.count" placeholder="count" disabled="true" />
      </div>
      <div class="col-3">
        <input class="w-100" [(ngModel)]="data.count" placeholder="count" disabled="true" />
      </div>
    </div>
    <div class="row" style="height: 6vh;">
      <div class="col-12">
        <button class="w-100 h-100" (click)="testData(data)">Test</button>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height: 70vh; overflow: auto;">
  <div class="col">
    <div class="row" style="height: 10vh" *ngFor="let data_item of data.data_items">
      <input [placeholder]="_id" [(ngModel)]="data_item._id.$oid">
    </div>
  </div>
</div>