<div class="row" style="height: 20vh; ">
  <div class="col">
    <div class="row" style="height: 6vh">
      <div class="col-3">
        <input class="input-field w-100" [(ngModel)]="data.name" placeholder="name">
      </div>
      <div class="col-3">
        <input class="input-field w-100" [(ngModel)]="data.count" placeholder="count">
      </div>
    </div>
    <div class="row" style="height: 6vh;">
      <div class="col-3">
        <button class="button-field w-100 h-100" (click)="testData(data)">Test</button>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height: 70vh; overflow: auto;">
  <div class="col">
    <div class="row" style="height: 30vh">

    </div>
  </div>
</div>
